<!DOCTYPE html>
<html lang="en">
<style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }

    body{
        width: 100%;
    }
    #app{
        background: rgb(93, 161, 173);
        overflow-y: scroll;
        width: 100%;
        height: 500px;
    }
    input, button{
        width: 100%;
        padding: 7px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat</h1>
    <div id="app">

    </div>
    <input id="texto" type="text">
    <input id="nome" type="text">
    <button id="btn">Enviar</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
<script>
    var sokect = io()

    sokect.on('disconnect',()=>{
        console.log('desco')
    })
    var btn = document.getElementById('btn')
    btn.addEventListener("click", (e)=>{
        e.preventDefault()

        var texto = document.getElementById('texto').value
        var nome = document.getElementById('nome').value

        sokect.emit('msg', {texto: texto, nome: nome})
    })

    sokect.on('msg', (msg, nome)=>{
        let p = document.createElement('p')
        p.innerHTML = `${nome}: ${msg}`
        document.getElementById('app').append(p)
    })
</script>
</html>